@import url(chota/dist/chota.css);

:root {
  --font-size: 1.8rem;
  --grid-maxWidth: 80rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1, h2 {
  margin-bottom: 0.35em;
}

form {
  margin-bottom: 18px;
}