@import url(chota/dist/chota.css);

:root {
  --font-size: 1.8rem;
  --grid-maxWidth: 80rem;
  --color-primary: #9013fe
}

a {
  color: inherit;
  text-decoration: underline;
}

h1, h2 {
  margin-bottom: 0.35em;
}

form {
  margin-bottom: 18px;
}

fieldset {
  padding: 1rem;
}

[type="checkbox"], [type="radio"] {
  margin-left: 0;
  margin-right: 8px;
}

label {
  font-size: 1.6rem;
}

.container {
  margin-top: 12px;
}

.hidden {
  display: none;
}

.error {
  background: yellow;
}

.button.is-large {
  font-size: 1.4em;
  padding: 1.8rem;
}
